/* Graphs */
.theme-dark,
.theme-light {
  --node:var(--text-muted);
  --node-focused:var(--text-accent);
  --node-tag:var(--deep-blue-2);
  --node-attachment:var(--orange-4);
  --node-unresolved:var(--text-faint); }

/* Stroke color for nodes */
.graph-view.color-circle {
  color: var(--node-focused); }

/* Line color */
.graph-view.color-line {
  color: var(--text-muted); 
  opacity: 0.1}

/* Line color on hover */
.graph-view.color-line-highlight {
  color: var(--node-focused);
  border: 0; }

/* Tags, attachments, unresolved */
.theme-dark .graph-view.color-fill-tag,
.theme-light .graph-view.color-fill-tag {
  color: var(--node-tag); }

.theme-dark .graph-view.color-fill-attachment,
.theme-light .graph-view.color-fill-attachment {
  color: var(--node-attachment); }

.theme-dark .graph-view.color-fill-unresolved,
.theme-light .graph-view.color-fill-unresolved {
  color: var(--node-unresolved); }
