/* Variables from Marvin's (Productiviy App) CSS */
.dusk-theme {
    --focusControlButtons: #404677 !important;
    --skipBackground: #404677 !important;
    --scrollBar: #08141D !important;
    --scrollBarTrack: #122430 !important;
    --chooserHover: #08141D !important;
    --chooserContentBackground: #122430 !important;
    --logoContainer: #122430 !important;
    --main: #6786e3 !important;
    --calendarCurrent: #6786e3 !important;
    --calendarButtonHover: #21253e !important;
    --checkColor: #6786e3 !important;
    --linkColor: #6786e3 !important;
    --brightColor: #6786e3 !important;
    --mainTaskBorder: #262b48 !important;
    --switchOff: #262b48 !important;
    --inboxColor: #e8eaf7 !important;
    --roundButton: #6786e3 !important;
    --roundButtonHover: #577ff7 !important;
    --roundButtonActive: #577ff7 !important;
    --mainTransparent: rgba(103, 134, 228, 0.42) !important;
    --mainBackground: #08141D !important;
    --mainBackgroundDarker: #2f3357 !important;
    --whiteBackground: #08141D !important;
    --lightGray: #2f3357 !important;
    --background: #08141D !important;
    --focusModeBackground: #08141D !important;
    --calendarBackground: #08141D !important;
    --backgroundDark: #1f233d !important;
    --calendarBorderColor: #363a63 !important;
    --sidebarBackground: #202540 !important;
    --sidebarDayDisplay: #202540 !important;
    --pocketColor: #202540 !important;
    --hoverTags: #212640 !important;
    --mainInputBackground: #122430 !important;
    --mainInputTextColor: #e8eaf7 !important;
    --mainInputPlaceholder: #999abf !important;
    --inputBackground: #122430 !important;
    --inputText: #e8eaf7 !important;
    --selectedTask: #474f85 !important;
    --selectedTaskText: #e8eaf7 !important;
    --projectIconBackground: #122430 !important;
    --backgroundLighter: #122430 !important;
    --itemColored: #122430 !important;
    --bigTaskBackground: #122430 !important;
    --mainTaskColor: #122430 !important;
    --bucketBackground: #122430 !important;
    --backgroundLighterHoverBack: #3d416d !important;
    --backgroundDarker: #2f3357 !important;
    --explanationBackground: #122430 !important;
    --backgroundLight: #122430 !important;
    --mainItemBackground: #122430 !important;
    --chooserButton: #393e6a !important;
    --accessButtonText: #e8eaf7 !important;
    --redAccessButton: #202540 !important;
    --orangeAccessButton: #202540 !important;
    --blueAccessButton: #202540 !important;
    --greenAccessButton: #202540 !important;
    --turquoiseAccessButton: #202540 !important;
    --quickAccessShadow: -7px 0px 30px #1a1d2f !important;
    --quickAccessMenuBorder: #464852 !important;
    --itemHover: #3d416d !important;
    --strategyOpacity: 0.9 !important;
    --separationLines: #525885 !important;
    --iconButton: #212640 !important;
    --iconButtonHover: #122430 !important;
    --iconButtonLightHover: #212640 !important;
    --iconHoverColor: #6786e3 !important;
    --checkboxBorderColor: #484c6f !important;
    --checkboxBackgroundColor: #484c6f !important;
    --boxBorderColor: transparent !important;
    --roundButtonBorderColor: #8f98b3 !important;
    --iconColor: #e8eaf7 !important;
    --hamburgerColor: #666d99 !important;
    --mainGhostColor: #666d99 !important;
    --ghostColor: #666d99 !important;
    --grayedOut: #767da9 !important;
    --rtLabelColor: #e8eaf7 !important;
    --textColor: #e8eaf7 !important;
    --tabColor: #e8eaf7 !important;
    --tabColorSelected: #6786e3 !important;
    --placeholder: #e8eaf7 !important;
    --inputText: #e8eaf7 !important;
    --blueText: #e8eaf7 !important;
    --mediumText: #666d99 !important;
    --sidebarButtons: #122430 !important;
    --headerShadow: 0px 0px 25px rgba(28, 32, 56, 0.81) !important;
    --aroundShadow: 0 0 15px 0 rgba(0, 0, 0, 0.21) !important;
    --dialogBoxShadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.3) !important;
    --leftSidebarShadow: none !important;
    --leftIntenseSidebarShadow: 2px 7px 30px #1a1d2f !important;
    --rightSidebarShadow: none !important;
    --taskShadow: 0px 3px 8px rgba(0, 0, 0, 0.07) !important;
    --mainTaskShadow: 0 7px 14px rgba(51, 35, 96, 0.07), 0 1px 6px hsla(291, 64%, 42%, 0.06) !important;
    --inputShadow: 0 7px 14px rgba(50, 77, 93, 0.03), 0 3px 6px rgba(0, 0, 0, 0.08) !important;
    --hoverShadow: 1px 2px 5px rgba(76, 70, 82, 0.18) !important;
    --redBright: #e45e68 !important;
}
