.theme-light {
  /*──────────The PRIMARY Color Palette for Light Theme──────────*/
  --color-l-whiter: hsl(36, 36%, 96.9%);
  --color-l-white: hsl(35, 36%, 95%);
  --color-l-gray: var(--color-l-gray-50);
  --color-l-gray-10: hsl(36, 37%, 92%);
  --color-l-gray-20: hsl(35, 35%, 90%);
  --color-l-gray-30: hsl(34, 36%, 88%);
  --color-l-gray-40: hsl(36, 37%, 83%);
  --color-l-gray-50: hsl(34, 37%, 70%);
  --color-l-gray-60: hsl(34, 28%, 60%);
  --color-l-gray-70: hsl(31, 23%, 50%);
  --color-l-gray-80: hsl(34, 27%, 40%);
  --color-l-gray-90: hsl(34, 30%, 37%);
  --color-l-gray-100: hsl(35, 32%, 30%);
  --color-l-black: hsl(31, 45%, 20%);
  --color-l-blacker: hsl(32, 55%, 12%);
  --color-l-shadow-10: rgba(168, 160, 148, 0.8);
  --color-l-shadow-50: rgba(180, 172, 161, 0.3);
  --color-l-shadow-100: rgba(75, 70, 64, 0.2);
  --color-l-shadow-cover: rgba(177, 171, 164, 0.5);
  --color-l-yellow: var(--color-l-yellow-500);
  --color-l-yellow-300: hsl(43, 71%, 67%);
  --color-l-yellow-500: hsl(43, 78%, 52%);
  --color-l-yellow-700: hsl(43, 100%, 42%);
  --color-l-yellow-900: hsl(43, 89%, 38%);
  --color-l-red: var(--color-l-red-500);
  --color-l-red-300: hsl(4, 54%, 61%);
  --color-l-red-500: hsl(4, 72%, 55%);
  --color-l-red-700: hsl(4, 56%, 48%);
  --color-l-red-900: hsl(4, 66%, 30%);
  --color-l-blue: var(--color-l-blue-500);
  --color-l-blue-300: hsl(198, 39%, 56%);
  --color-l-blue-500: hsl(205, 66%, 46%);
  --color-l-blue-700: hsl(205, 63%, 39%);
  --color-l-blue-900: hsl(205, 95%, 25%);
  --color-l-orange: var(--color-l-orange-500);
  --color-l-orange-300: hsl(26, 66%, 57%);
  --color-l-orange-500: hsl(21, 82%, 55%);
  --color-l-orange-700: hsl(18, 69%, 50%);
  --color-l-orange-900: hsl(24, 96%, 35%);
  --color-l-orange-a: hsl(27, 81%, 46%);
  --color-l-green: var(--color-l-green-500);
  --color-l-green-300: hsl(154, 58%, 65%);
  --color-l-green-500: hsl(154, 47%, 49%);
  --color-l-green-700: hsl(155, 52%, 38%);
  --color-l-green-900: hsl(165, 63%, 29%);
  --color-l-violet: var(--color-l-violet-500);
  --color-l-violet-300: hsl(270, 50%, 74%);
  --color-l-violet-500: hsl(266, 31%, 57%);
  --color-l-violet-700: hsl(267, 37%, 43%);
  --color-l-violet-900: hsl(266, 70%, 30%);
}

.theme-dark {
  /*──────────The PRIMARY Color Palette for Dark Theme──────────*/
  --color-d-whiter: hsl(33, 66%, 90%);
  --color-d-white: hsl(34, 50%, 80%);
  --color-d-gray: var(--color-d-gray-50);
  --color-d-gray-10: hsl(34, 18%, 62%);
  --color-d-gray-20: hsl(35, 27%, 55%);
  --color-d-gray-30: hsl(34, 24%, 30%);
  --color-d-gray-40: hsl(33, 22%, 30%);
  --color-d-gray-50: hsl(33, 20%, 20%);
  --color-d-gray-60: hsl(30, 19%, 17%);
  --color-d-gray-70: hsl(27, 14%, 15%);
  --color-d-gray-80: hsl(32, 19%, 13%);
  --color-d-gray-90: hsl(30, 15%, 13%);
  --color-d-gray-100: hsl(30, 20%, 8%);
  --color-d-black: hsl(27, 15%, 12%);
  --color-d-blacker: hsl(26, 16%, 9%);
  --color-d-shadow-10: rgba(29, 21, 13, 0.45);
  --color-d-shadow-50: rgba(29, 26, 22, 0.75);
  --color-d-shadow-100: rgba(19, 16, 13, 0.95);
  --color-d-shadow-cover: rgba(37, 34, 29, 0.74);
  --color-d-yellow: var(--color-d-yellow-500);
  --color-d-yellow-300: hsl(46, 91%, 69%);
  --color-d-yellow-500: hsl(50, 100%, 46%);
  --color-d-yellow-700: hsl(43, 100%, 42%);
  --color-d-yellow-900: hsl(39, 92%, 33%);
  --color-d-yellow-a: hsl(43, 75%, 52%);
  --color-d-red: var(--color-d-red-500);
  --color-d-red-300: hsl(4, 100%, 68%);
  --color-d-red-500: hsl(4, 65%, 60%);
  --color-d-red-700: hsl(4, 90%, 61%);
  --color-d-red-900: hsl(4, 77%, 38%);
  --color-d-red-a: hsl(4, 61%, 53%);
  --color-d-blue: var(--color-d-blue-500);
  --color-d-blue-300: hsl(198, 39%, 56%);
  --color-d-blue-500: hsl(198, 62%, 57%);
  --color-d-blue-700: hsl(198, 57%, 55%);
  --color-d-blue-900: hsl(198, 75%, 35%);
  --color-d-blue-a: hsl(197, 58%, 48%);
  --color-d-orange: var(--color-d-orange-500);
  --color-d-orange-300: hsl(22, 92%, 64%);
  --color-d-orange-500: hsl(22, 92%, 57%);
  --color-d-orange-700: hsl(21, 88%, 51%);
  --color-d-orange-900: hsl(20, 80%, 41%);
  --color-d-orange-a: hsl(27, 77%, 51%);
  --color-d-green: var(--color-d-green-500);
  --color-d-green-300: hsl(150, 66%, 53%);
  --color-d-green-500: hsl(154, 52%, 46%);
  --color-d-green-700: hsl(154, 61%, 39%);
  --color-d-green-900: hsl(155, 81%, 24%);
  --color-d-green-a: hsl(96, 50%, 49%);
  --color-d-violet: var(--color-d-violet-500);
  --color-d-violet-300: hsl(256, 63%, 74%);
  --color-d-violet-500: hsl(263, 60%, 67%);
  --color-d-violet-700: hsl(256, 52%, 57%);
  --color-d-violet-900: hsl(256, 44%, 50%);
  --color-d-violet-a: hsl(246, 53%, 67%);
}

:root, body {
  --scale-0-0: 0px;
  /* Multiples of 2 */
  --scale-2-1: 2px;
  --scale-2-2: 4px;
  --scale-2-3: 6px;
  --scale-2-4: 8px;
  --scale-2-5: 10px;
  --scale-2-6: 12px;
  --scale-2-8: 16px;
  --scale-2-9: 18px;
  --scale-2-10: 20px;
  --scale-2-18: 36px;
  /* Multiples of 8 */
  --scale-8-1: 8px;
  --scale-8-2: 16px;
  --scale-8-3: 24px;
  --scale-8-4: 32px;
  --scale-8-5: 40px;
  --scale-8-6: 48px;
  --scale-8-7: 54px;
  --scale-8-8: 64px;
  --scale-8-9: 72px;
  --scale-8-10: 80px;
  --scale-8-12: 96px;
  --scale-8-18: 144px;
  --scale-8-36: 288px;
}


/*──────────Note Colors──────────*/
.theme-light {
  --md-color-text: var(--text-normal);
  --md-color-text-muted: var(--text-muted);
  --md-color-text-faint: var(--text-faint);
  --md-color-bold: var(--color-l-red-500);
  --md-color-italic: var(--color-l-blue-500);
  --md-color-bolditalic: var(--color-l-blacker);
  --md-color-strikethrough: var(--text-faint);
  --md-color-highlight-text: var(--text-normal);
  --md-color-highlight-bg: var(--color-highlight-yellow);
  --md-color-bold-highlight-text: var(--text-normal);
  --md-color-bold-highlight-bg: var(--color-highlight-red);
  --md-color-italic-highlight-text: var(--text-normal);
  --md-color-italic-highlight-bg: var(--color-highlight-blue);
  --md-color-bi-highlight-text: var(--text-normal);
  --md-color-bi-highlight-bg: var(--color-highlight-green);
  --md-color-comment: var(--text-muted);
  --md-color-footnote: var(--text-normal);
  --md-color-footnote-link: var(--color-l-green-700);
  --md-color-footnote-link-hover: var(--color-l-green-500);
  --md-color-footnote-link-active: var(--color-l-green-900);
  --md-color-reslink: var(--color-l-yellow-700);
  --md-color-reslink-hover: var(--color-l-yellow-500);
  --md-color-reslink-active: var(--color-l-yellow-900);
  --md-color-unreslink: var(--text-muted);
  --md-color-unreslink-hover: var(--color-l-yellow-700);
  --md-color-unreslink-active: var(--color-l-yellow-900);
  --md-color-extlink: var(--color-l-yellow-700);
  --md-color-extlink-hover: var(--color-l-yellow-500);
  --md-color-extlink-active: var(--color-l-yellow-900);
  --md-color-blockquotes: var(--text-normal);
  --md-color-blockquotes-formatting: var(--text-faint);
  --md-color-blockquotes-border: var(--background-modifier-border);
  --md-color-blockquotes-bg: var(--color-l-whiter);
  --md-color-tag: var(--color-l-blue-700);
  --md-color-tag-hover: var(--color-l-blue-500);
  --md-color-tag-active: var(--color-l-blue-900);
  --md-color-code-yellow-1: var(--color-l-yellow-500);
  --md-color-code-yellow-2: var(--color-l-yellow-700);
  --md-color-code-red-1: var(--color-l-red-300);
  --md-color-code-red-2: var(--color-l-red-500);
  --md-color-code-blue-1: var(--color-l-blue-500);
  --md-color-code-blue-2: var(--color-l-blue-700);
  --md-color-code-gray: var(--color-l-gray-50);
  --md-color-code-white: var(--color-l-blacker);
  --md-color-formatting: var(--color-l-gray-50);
  --md-color-border: var(--background-modifier-border);
  --md-embed-bg: var(--color-l-gray-10);
  --md-color-bullet: var(--md-color-text-faint);
  --md-find-highlight-bg: var(--color-highlight-violet);
  --md-unchecked-bg-color: rgba(255, 255, 255, 0.4);
  --md-unchecked-bg-color-hover: var(--color-l-gray-whiter);
  --md-unchecked-bg-color-active: var(--color-l-gray-20);
  --md-checked-bg-color: var(--color-l-green-500);
}

.theme-dark {
  --md-color-text: var(--text-normal);
  --md-color-text-muted: var(--text-muted);
  --md-color-text-faint: var(--text-faint);
  --md-color-bold: var(--color-d-red-700);
  --md-color-italic: var(--color-d-blue-700);
  --md-color-bolditalic: var(--color-d-whiter);
  --md-color-strikethrough: var(--text-faint);
  --md-color-highlight-text: var(--text-normal);
  --md-color-highlight-bg: var(--color-highlight-yellow);
  --md-color-bold-highlight-text: var(--text-normal);
  --md-color-bold-highlight-bg: var(--color-highlight-red);
  --md-color-italic-highlight-text: var(--text-normal);
  --md-color-italic-highlight-bg: var(--color-highlight-blue);
  --md-color-bi-highlight-text: var(--text-normal);
  --md-color-bi-highlight-bg: var(--color-highlight-green);
  --md-color-comment: var(--text-muted);
  --md-color-footnote: var(--text-normal);
  --md-color-footnote-link: var(--color-d-green-700);
  --md-color-footnote-link-hover: var(--color-d-green-500);
  --md-color-footnote-link-active: var(--color-d-green-900);
  --md-color-reslink: var(--color-d-yellow-500);
  --md-color-reslink-hover: var(--color-d-yellow-300);
  --md-color-reslink-active: var(--color-d-yellow-700);
  --md-color-unreslink: var(--text-muted);
  --md-color-unreslink-hover: var(--color-d-yellow-500);
  --md-color-unreslink-active: var(--color-d-yellow-700);
  --md-color-extlink: var(--color-d-yellow-500);
  --md-color-extlink-hover: var(--color-d-yellow-300);
  --md-color-extlink-active: var(--color-d-yellow-700);
  --md-color-blockquotes: var(--text-normal);
  --md-color-blockquotes-formatting: var(--text-faint);
  --md-color-blockquotes-border: var(--background-modifier-border);
  --md-color-blockquotes-bg: var(--color-d-blacker);
  --md-color-tag: var(--color-d-blue-700);
  --md-color-tag-hover: var(--color-d-blue-300);
  --md-color-tag-active: var(--color-d-blue-900);
  --md-color-code-yellow-1: var(--color-d-yellow-700);
  --md-color-code-yellow-2: var(--color-d-yellow-500);
  --md-color-code-red-1: var(--color-d-red-500);
  --md-color-code-red-2: var(--color-d-red-300);
  --md-color-code-blue-1: var(--color-d-blue-300);
  --md-color-code-blue-2: var(--color-d-blue-500);
  --md-color-code-gray: var(--text-faint);
  --md-color-code-white: var(--color-d-whiter);
  --md-color-formatting: var(--color-d-gray-40);
  --md-color-border: var(--background-modifier-border);
  --md-embed-bg: var(--color-d-gray-90);
  --md-color-bullet: var(--md-color-text-faint);
  --md-find-highlight-bg: var(--color-highlight-violet);
  --md-unchecked-bg-color: rgba(0, 0, 0, 0.2);
  --md-unchecked-bg-color-hover: var(--color-d-gray-100);
  --md-unchecked-bg-color-active: var(--color-d-gray-70);
  --md-checked-bg-color: var(--color-d-green-900);
}

/* Checkbox */
body:not(.no-svg-replace) svg.checkbox-glyph {
  -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' id='Outline' viewBox='0 0 24 24' width='100%25' height='100%25'%3E%3Cpath d='M19 0H5A5.006 5.006 0 0 0 0 5V19a5.006 5.006 0 0 0 5 5H19a5.006 5.006 0 0 0 5-5V5A5.006 5.006 0 0 0 19 0Zm3 19a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5A3 3 0 0 1 5 2H19a3 3 0 0 1 3 3Z'/%3E%3Cpath d='M9.333 15.919 5.414 12A1 1 0 0 0 4 12H4a1 1 0 0 0 0 1.414l3.919 3.919a2 2 0 0 0 2.829 0L20 8.081a1 1 0 0 0 0-1.414h0a1 1 0 0 0-1.414 0Z'/%3E%3C/svg%3E");
}

/*──────────Checkboxes──────────*/

input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  filter: none;
  height: calc(3px + var(--font-text-size));
  width: calc(3px + var(--font-text-size));
  border-radius: var(--scale-2-2);
  border: 1px solid var(--text-faint);

}
input[type=checkbox]:hover {
  cursor: pointer;
  transition: var(--duration-fast-1) var(--motion-smooth);
}
input[type=checkbox]:checked {
  background-position: center;
  background-size: 72%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z'/%3E%3C/svg%3E");
}
.theme-light input[type=checkbox] {
  background-color: var(--md-unchecked-bg-color);
}
.theme-light input[type=checkbox]:hover {
  background-color: var(--md-unchecked-bg-color-hover);
  box-shadow: 0px 0px 0px 1px var(--color-l-gray-30);
}
.theme-light input[type=checkbox]:active, .theme-light input[type=checkbox]:checked:active {
  background-color: var(--md-unchecked-bg-color-active);
  box-shadow: 0px 0px 0px 2px var(--color-l-gray-30);
}
.theme-light input[type=checkbox]:checked {
  background-color: var(--md-checked-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.theme-dark input[type=checkbox] {
  background-color: var(--md-unchecked-bg-color);
}
.theme-dark input[type=checkbox]:hover {
  background-color: var(--md-unchecked-bg-color-hover);
  box-shadow: 0px 0px 0px 1px var(--text-faint);
}
.theme-dark input[type=checkbox]:active, .theme-dark input[type=checkbox]:checked:active {
  background-color: var(--md-unchecked-bg-color-active);
  box-shadow: 0px 0px 0px 2px var(--text-faint);
}
.theme-dark input[type=checkbox]:checked {
  background-color: var(--md-checked-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.markdown-source-view .HyperMD-task-line:is([data-task=x], [data-task=X]):hover,
.task-list-item.is-checked:hover {
  text-decoration: unset;
}

body :is(textarea,input[type][type]):hover {
    border-color: transparent !important;
}


/*────────────────────────────────────
        Alternative Checkboxes
──────────────────────────────────────*/

/*──────────Checkbox List Text──────────*/

/* Normal Text */
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task]:is([data-task="!"], [data-task="/"], [data-task="?"], [data-task=n], [data-task="*"], [data-task=l], [data-task=i], [data-task="<"], [data-task=S], [data-task='"'], [data-task=I], [data-task=p], [data-task=c], [data-task=b]),
ul > li.task-list-item.is-checked[data-task]:is([data-task="!"], [data-task="/"], [data-task="?"], [data-task=n], [data-task="*"], [data-task=l], [data-task=i], [data-task="<"], [data-task=S], [data-task='"'], [data-task=I], [data-task=p], [data-task=c], [data-task=b]) {
  color: var(--md-color-text);
  text-decoration: none;
}

/* Muted Text */
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task]:is([data-task=">"], [data-task="-"]),
ul > li.task-list-item.is-checked[data-task]:is([data-task=">"], [data-task="-"]) {
  color: var(--md-color-text-muted);
  text-decoration: none;
}

/*──────────Icons & Background Color──────────*/
/* x — Checked */
input[data-task=x]:checked,
li[data-task=x] > input:checked {
  background-position: center;
  background-size: 72%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='-10 0 448 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z'/%3E%3C/svg%3E");
}

/* > — Rescheduled/Moved */
input[data-task=">"]:checked,
li[data-task=">"] > input:checked {
  background-position: center;
  background-size: 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 256 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z'/%3E%3C/svg%3E");
}
.theme-light input[data-task=">"]:checked,
.theme-light li[data-task=">"] > input:checked {
  background-color: var(--color-l-blue-500);
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.theme-dark input[data-task=">"]:checked,
.theme-dark li[data-task=">"] > input:checked {
  background-color: var(--color-d-blue-900);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* < — Schedule */
input[data-task="<"]:checked,
li[data-task="<"] > input:checked {
  background-position: center;
  background-size: 92%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='-0.5 -.7 24 24' style='fill: rgba(255, 255, 255, 1);transform: ;msFilter:;'%3E%3Cpath d='M11 12h6v6h-6z'%3E%3C/path%3E%3Cpath d='M19 4h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm.001 16H5V8h14l.001 12z'%3E%3C/path%3E%3C/svg%3E");
}
.theme-light input[data-task="<"]:checked,
.theme-light li[data-task="<"] > input:checked {
  background-color: var(--color-l-violet);
}
.theme-dark input[data-task="<"]:checked,
.theme-dark li[data-task="<"] > input:checked {
  background-color: var(--color-d-violet-900);
}

/* ! — Important */
input[data-task="!"]:checked,
li[data-task="!"] > input:checked {
  background-position: center;
  background-size: 22%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='-10 0 128 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M64 352c17.69 0 32-14.32 32-31.1V64.01c0-17.67-14.31-32.01-32-32.01S32 46.34 32 64.01v255.1C32 337.7 46.31 352 64 352zM64 400c-22.09 0-40 17.91-40 40s17.91 39.1 40 39.1s40-17.9 40-39.1S86.09 400 64 400z'/%3E%3C/svg%3E");
}
.theme-light input[data-task="!"]:checked,
.theme-light li[data-task="!"] > input:checked {
  background-color: var(--color-l-red-500);
}
.theme-dark input[data-task="!"]:checked,
.theme-dark li[data-task="!"] > input:checked {
  background-color: var(--color-d-red-900);
}

/* - — Cancelled */
input[data-task="-"]:checked,
li[data-task="-"] > input:checked {
  background-position: center;
  background-size: 67%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z'/%3E%3C/svg%3E");
}
.theme-light input[data-task="-"]:checked,
.theme-light li[data-task="-"] > input:checked {
  background-color: var(--color-l-black);
}
.theme-dark input[data-task="-"]:checked,
.theme-dark li[data-task="-"] > input:checked {
  background-color: var(--color-d-blacker);
}

/* / — In Progress */
input[data-task="/"]:checked,
li[data-task="/"] > input:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='1 -1 24 24' fill='none' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M21 2v6h-6'%3E%3C/path%3E%3Cpath d='M3 12a9 9 0 0 1 15-6.7L21 8'%3E%3C/path%3E%3Cpath d='M3 22v-6h6'%3E%3C/path%3E%3Cpath d='M21 12a9 9 0 0 1-15 6.7L3 16'%3E%3C/path%3E%3C/svg%3E");
}
.theme-light input[data-task="/"]:checked,
.theme-light li[data-task="/"] > input:checked {
  background-color: var(--color-l-blue);
}
.theme-dark input[data-task="/"]:checked,
.theme-dark li[data-task="/"] > input:checked {
  background-color: var(--color-d-blue);
}

/* ? — Question */
input[data-task="?"],
li[data-task="?"] > input {
  border-radius: var(--scale-2-8);
}
input[data-task="?"]:checked,
li[data-task="?"] > input:checked {
  background-position: center;
  background-size: 48%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M204.3 32.01H96c-52.94 0-96 43.06-96 96c0 17.67 14.31 31.1 32 31.1s32-14.32 32-31.1c0-17.64 14.34-32 32-32h108.3C232.8 96.01 256 119.2 256 147.8c0 19.72-10.97 37.47-30.5 47.33L127.8 252.4C117.1 258.2 112 268.7 112 280v40c0 17.67 14.31 31.99 32 31.99s32-14.32 32-31.99V298.3L256 251.3c39.47-19.75 64-59.42 64-103.5C320 83.95 268.1 32.01 204.3 32.01zM144 400c-22.09 0-40 17.91-40 40s17.91 39.1 40 39.1s40-17.9 40-39.1S166.1 400 144 400z'/%3E%3C/svg%3E");
}
.theme-light input[data-task="?"]:checked,
.theme-light li[data-task="?"] > input:checked {
  background-color: var(--color-l-yellow-700);
}
.theme-dark input[data-task="?"]:checked,
.theme-dark li[data-task="?"] > input:checked {
  background-color: var(--color-d-yellow-700);
}

/* n — Note */
input[data-task=n],
li[data-task=n] > input {
  border-radius: var(--scale-2-1);
}
input[data-task=n]:checked,
li[data-task=n] > input:checked {
  background-position: center;
  background-size: 60%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='0 0 384 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M32 32C32 14.33 46.33 0 64 0H320C337.7 0 352 14.33 352 32C352 49.67 337.7 64 320 64H290.5L301.9 212.2C338.6 232.1 367.5 265.4 381.4 306.9L382.4 309.9C385.6 319.6 383.1 330.4 377.1 338.7C371.9 347.1 362.3 352 352 352H32C21.71 352 12.05 347.1 6.04 338.7C.0259 330.4-1.611 319.6 1.642 309.9L2.644 306.9C16.47 265.4 45.42 232.1 82.14 212.2L93.54 64H64C46.33 64 32 49.67 32 32zM224 384V480C224 497.7 209.7 512 192 512C174.3 512 160 497.7 160 480V384H224z'/%3E%3C/svg%3E");
}
.theme-light input[data-task=n]:checked,
.theme-light li[data-task=n] > input:checked {
  background-color: var(--color-l-red-500);
}
.theme-dark input[data-task=n]:checked,
.theme-dark li[data-task=n] > input:checked {
  background-color: var(--color-d-red-900);
}

/* * — Star */
input[data-task="*"],
li[data-task="*"] > input {
  border-radius: var(--scale-2-8);
}
input[data-task="*"]:checked,
li[data-task="*"] > input:checked {
  background-position: center;
  background-size: 80%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 1 24 24' style='fill: white;transform: ;msFilter:;'%3E%3Cpath d='M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z'%3E%3C/path%3E%3C/svg%3E");
}
.theme-light input[data-task="*"]:checked,
.theme-light li[data-task="*"] > input:checked {
  background-color: var(--color-l-orange-500);
}
.theme-dark input[data-task="*"]:checked,
.theme-dark li[data-task="*"] > input:checked {
  background-color: var(--color-d-orange-500);
}

/* l — Location */
input[data-task=l]:checked,
li[data-task=l] > input:checked {
  background-position: center;
  background-size: 65%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:  %23fff' viewBox='-15 -20 384 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z'/%3E%3C/svg%3E");
}
.theme-light input[data-task=l]:checked,
.theme-light li[data-task=l] > input:checked {
  background-color: var(--color-l-red-700);
}
.theme-dark input[data-task=l]:checked,
.theme-dark li[data-task=l] > input:checked {
  background-color: var(--color-d-red-700);
}

/* i — Info */
input[data-task=i],
li[data-task=i] > input {
  border-radius: var(--scale-2-8);
}
input[data-task=i]:checked,
li[data-task=i] > input:checked {
  background-position: center;
  background-size: 99%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23ffffff' viewBox='-0.5 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Ccircle cx='128' cy='128' r='96' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='24'%3E%3C/circle%3E%3Cpolyline points='120 124 128 124 128 176 136 176' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='24'%3E%3C/polyline%3E%3Ccircle cx='126' cy='84' r='16'%3E%3C/circle%3E%3C/svg%3E");
}
.theme-light input[data-task=i]:checked,
.theme-light li[data-task=i] > input:checked {
  background-color: var(--color-l-blue-700);
}
.theme-dark input[data-task=i]:checked,
.theme-dark li[data-task=i] > input:checked {
  background-color: var(--color-d-blue-700);
}

/* " — Quote */
input[data-task='"']:checked,
li[data-task='"'] > input:checked {
  background-position: center;
  background-size: 80%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(255, 255, 255, 1);transform: ;msFilter:;'%3E%3Cpath d='m21.95 8.721-.025-.168-.026.006A4.5 4.5 0 1 0 17.5 14c.223 0 .437-.034.65-.065-.069.232-.14.468-.254.68-.114.308-.292.575-.469.844-.148.291-.409.488-.601.737-.201.242-.475.403-.692.604-.213.21-.492.315-.714.463-.232.133-.434.28-.65.35l-.539.222-.474.197.484 1.939.597-.144c.191-.048.424-.104.689-.171.271-.05.56-.187.882-.312.317-.143.686-.238 1.028-.467.344-.218.741-.4 1.091-.692.339-.301.748-.562 1.05-.944.33-.358.656-.734.909-1.162.293-.408.492-.856.702-1.299.19-.443.343-.896.468-1.336.237-.882.343-1.72.384-2.437.034-.718.014-1.315-.028-1.747a7.028 7.028 0 0 0-.063-.539zm-11 0-.025-.168-.026.006A4.5 4.5 0 1 0 6.5 14c.223 0 .437-.034.65-.065-.069.232-.14.468-.254.68-.114.308-.292.575-.469.844-.148.291-.409.488-.601.737-.201.242-.475.403-.692.604-.213.21-.492.315-.714.463-.232.133-.434.28-.65.35l-.539.222c-.301.123-.473.195-.473.195l.484 1.939.597-.144c.191-.048.424-.104.689-.171.271-.05.56-.187.882-.312.317-.143.686-.238 1.028-.467.344-.218.741-.4 1.091-.692.339-.301.748-.562 1.05-.944.33-.358.656-.734.909-1.162.293-.408.492-.856.702-1.299.19-.443.343-.896.468-1.336.237-.882.343-1.72.384-2.437.034-.718.014-1.315-.028-1.747a7.571 7.571 0 0 0-.064-.537z'%3E%3C/path%3E%3C/svg%3E");
}
.theme-light input[data-task='"']:checked,
.theme-light li[data-task='"'] > input:checked {
  background-color: var(--color-l-violet-700);
}
.theme-dark input[data-task='"']:checked,
.theme-dark li[data-task='"'] > input:checked {
  background-color: var(--color-d-violet-700);
}

/* I — Idea / Lightbulb */
input[data-task=I],
li[data-task=I] > input {
  border-radius: var(--scale-2-8);
}
input[data-task=I]:checked,
li[data-task=I] > input:checked {
  background-position: center;
  background-size: 90%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='36' height='36' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E&lt;!--! Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons --&gt;%3Cpath d='M19,9a7,7,0,0,1-4,6.32V18H9V15.32A7,7,0,1,1,19,9Z'%3E%3C/path%3E%3Cline x1='9' y1='22' x2='15' y2='22'%3E%3C/line%3E%3C/svg%3E");
}
.theme-light input[data-task=I]:checked,
.theme-light li[data-task=I] > input:checked {
  background-color: var(--color-l-yellow-700);
}
.theme-dark input[data-task=I]:checked,
.theme-dark li[data-task=I] > input:checked {
  background-color: var(--color-d-yellow-700);
}

/* p - Pro */
input[data-task=p]:checked,
li[data-task=p] > input:checked {
  background-position: center;
  background-size: 90%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='36' height='36' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E&lt;!--! Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons --&gt;%3Cpath d='M7,9l4-7h.69a2,2,0,0,1,2,2.28L13,9h6.67a2,2,0,0,1,2,2.3l-1.39,9a2,2,0,0,1-2,1.7H7Z'%3E%3C/path%3E%3Cpath d='M2,11v9a2,2,0,0,0,2,2H7V9H4A2,2,0,0,0,2,11Z'%3E%3C/path%3E%3C/svg%3E");
}
.theme-light input[data-task=p]:checked,
.theme-light li[data-task=p] > input:checked {
  background-color: var(--color-l-green-700);
}
.theme-dark input[data-task=p]:checked,
.theme-dark li[data-task=p] > input:checked {
  background-color: var(--color-d-green-700);
}

/* c - Con */
input[data-task=c]:checked,
li[data-task=c] > input:checked {
  background-position: center;
  background-size: 90%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='36' height='36' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E&lt;!--! Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons --&gt;%3Cpath d='M7,9l4-7h.69a2,2,0,0,1,2,2.28L13,9h6.67a2,2,0,0,1,2,2.3l-1.39,9a2,2,0,0,1-2,1.7H7Z'%3E%3C/path%3E%3Cpath d='M2,11v9a2,2,0,0,0,2,2H7V9H4A2,2,0,0,0,2,11Z'%3E%3C/path%3E%3C/svg%3E");
  transform: scaleY(-1);
}
.theme-light input[data-task=c]:checked,
.theme-light li[data-task=c] > input:checked {
  background-color: var(--color-l-red-700);
}
.theme-dark input[data-task=c]:checked,
.theme-dark li[data-task=c] > input:checked {
  background-color: var(--color-d-red-700);
}

/* b - Bookmark */
input[data-task=b]:checked,
li[data-task=b] > input:checked {
  background-position: center;
  background-size: 90%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(255, 255, 255, 1);transform: ;msFilter:;'%3E%3Cpath d='M19 10.132v-6c0-1.103-.897-2-2-2H7c-1.103 0-2 .897-2 2V22l7-4.666L19 22V10.132z'%3E%3C/path%3E%3C/svg%3E");
}
.theme-light input[data-task=b]:checked,
.theme-light li[data-task=b] > input:checked {
  background-color: var(--color-l-red-700);
}
.theme-dark input[data-task=b]:checked,
.theme-dark li[data-task=b] > input:checked {
  background-color: var(--color-d-red-900);
}


